azure-functions==1.18.0
cffi==1.16.0
cryptography==41.0.7
darkdetect==0.8.0
easygui==0.98.3
Pillow==10.1.0
ply==3.11
pycparser==2.21
pyswip @ git+https://github.com/yuce/pyswip@59016e0841f56177d1b18ec08fd9b67792bd0a97
python-dotenv==1.0.0
reportlab==4.0.7
sv-ttk==2.5.5
